#mainBody {
    background-image: url("fondo1.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 800px;
}

#titulo{
    
}
h1{
    font-style: italic;
    color: rgba(185, 51, 51, 0.69);
    background-color: rgba(255, 255, 170, 0.74);
}

table, th, td {
    border: 10px solid #1f1e4a;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 25px;
}
th,td {
    padding: 10px;
}
table#integrantes {
    width: 100%; ;
}
table#integrantes tr:nth-child(even) {
    background-color: #eee;
}
table#integrantes th {
    color: #b93333;
}

#cuerpo{
    align-content: center;
}

#juego{
    background-color: rgba(255, 255, 170, 0.74);
}

h3{
    color: rgba(185, 52, 52, 0.76);   
}
#pepe{
    background-image:url(fondo2.jpg);
}


.btllamado {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#142f42), to(#65a9d7));
   background: -webkit-linear-gradient(top, #142f42, #65a9d7);
   background: -moz-linear-gradient(top, #142f42, #65a9d7);
   background: -ms-linear-gradient(top, #142f42, #65a9d7);
   background: -o-linear-gradient(top, #142f42, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.btllamado:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.btllamado:active {
   border-top-color: #29668f;
   background: #29668f;
   }